* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', 'serif', sans-serif;
    text-align: center;
}
/* color selectors */
:root {
    --light: #fffff4;
    --mid: #EEC09B;
    --dark: #BA8C66;
    --light2: #ffdbd1;
}

body {
    background: var(--light);
}

h1 {
    font-size: 40px;
    padding-bottom: 20px;
    color: var(--dark);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px, 10px, 20px, 10px;
    padding: 20px;
    font-size: 20px;
    color: var(--mid); 
    background-color: var(--light2);
}
/* hamburger button for responsive display */
.button {
    position: absolute;
    align-items: center;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.line {
    height: 3px;
    width: 100%;
    background-color: var(--dark);
    border-radius: 10px;
}

nav ul {
    display: flex;
}

nav ul li { 
    display: inline-block;
    margin: 10px;
} 

nav ul li a {
    color: var(--dark);
    text-decoration: none
}

nav ul li:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
}

main {
    padding: 25px;
}
/* about me section */
#about-me {
    width: 80%;
    margin: auto;
    padding: 30px, 0px;
    color: var(--mid);
    font-size: 1.3rem;
}

.img-about-me {
    border-radius: 50%;
    margin: auto;
    display: block;
    border: solid var(--mid);
}

main h2 {
    color: var(--dark);
}

.fa-brands {
    font-size: 2rem;
    padding: 5px;
    color: var(--mid);
}

/* portfolio section */
.portfolio-title {
    font-size: 2rem;
    padding: 20px;
    margin-top: 20px;
    color: var(--dark)
}

#portfolio {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-title > p {
    font-size: 1.5rem;
    color: var(--mid);
}

.portfolio-items {
    position: relative;
    text-align: center;
    width: 905px;
}

.portfolio-items > a {
    text-decoration: none;
    color: var(--light);
    font-size: 1.5rem;
}

.placeholder {
    text-decoration: none;
    color: var(--light);
    font-size: 1.5rem;
}
/* used background imgs instead of img tags so i could add text on top */
.big-img {
    background-image: url("updatedScreenshot\ of\ project1.png");
    display: flex;
    gap: 20px;
    width: 100%;
    height: 350px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.columns {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.small-column {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.small-img {
    background-image: url("portfolio-box.jpg");
    display: flex;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 450px;
    height: 175px;
}

.big-img:hover {
    transform: scale(95%); 
}

.small-img:hover {
    transform: scale(95%);
}

/* contact submission form */
.container {
    border-radius: 5px;
    background-color: var(--light2);
    padding: 20px;
    margin: 20px 20px;
}

.container h3 {
    font-size: 2rem;
    color: var(--dark);
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    background-color: var(--light);
    border: 1px solid var(--dark);
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: var(--mid);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--dark);
  }

  footer {
    color: var(--dark);
    padding: 10px;
  }
/* added media section so site is responsive to smaller displays */
@media screen and (max-width: 1000px) {
    .button {
        display: flex;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul {
        display: flex;
        width: 100%;
    }
    nav ul li {
        width: 100%;
        flex-direction: column;
    }
    /* once I learn JavaScript I'm going to make this part a clickable dropdown*/
    nav.active {
        display: flex;
    }
    #portfolio {
        width: 100%;
        flex-direction: column;
    }
    .portfolio-items {
        flex-direction: column;
        width: auto;
        height: 50%;
    }
    .big-img {
        flex-direction: column;
        width: auto;
    }
    .small-img {
        flex-direction: column;
        width: auto;
    }
}